@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleIndicators" class="carousel slide" style="max-width: 10rem;max-height=15rem" >
   
    <div class="carousel-inner border-info mb-3 p-3">
        <div class="carousel-item active" >
            <img src="/tr1.jpg" class="d-block rounded " alt="трактор" style="max-width: 10rem;">
        </div>
        <div class="carousel-item">
            <img src="/kos1.jpg" class="d-block rounded" alt="косилка" style="max-width: 10rem;">
        </div>
        <div class="carousel-item">
            <img src="/pl1.jpg" class="d-block rounded" alt="плуг" style="max-width: 10rem;">
        </div>
        <button class="carousel-control-prev" style="max-width: 25rem;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="max-width: 25rem;"  aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>
______________
<div class="card border-info mb-3 p-3" style="max-width: 25rem;">
    <div class="card-header">Добро пожаловать в Магазин!</div>
    <div class="card-body text-info">
        <h5 class="card-title">СельхозТех</h5>
        <p class="card-text"></p>
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
