html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679685449_bogatyr-club-p-selskoe-khozyaistvo-fon-dlya-prezentatsii-27.jpg);
    font-size: 16px;
    color: antiquewhite;
    margin-bottom: 60px;
}

